.App{
  width: 70%;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}
.apod-img p:first-child{
  margin-bottom: 40px;
  font-weight: 16px;
  font-weight: 500;
}
@media(max-width:600px){
  .App{
    width: 90%;
  }
}